.nav
  @include flex(row, space-between, center, nowrap)
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 70px
  background-color: #2196f3
  padding: 0 25px
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12)


  &__
    &name
      font-size: 20px
      font-weight: 500
      color: white
      width: 120px

    &right
      @include flex(row, flex-end, center, nowrap)
      width: calc(100% - 130px)

    &select
      width: 40%
      max-width: 200px

      &:not(:last-child)
        margin-right: 20px

@media screen and (max-width: 1900px)
  @import '_1280.sass'

@media screen and (max-width: 1280px)
  @import '_1024.sass'

@media screen and (max-width: 1024px)
  @import '_768.sass'

@media screen and (max-width: 768px)
  @import '_320.sass'
