@keyframes blink
  0%
    transform: scale(1)
  50%
    transform: scale(.5)
  100%
    transform: scale(1)


.weather
  padding: 16px
  border-radius: 4px
  width: 600px
  max-width: 95%
  position: relative
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12)
  background-color: white
  overflow: hidden

  &__
    &loading
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      background-color: rgba(white, 0.9)
      transition: opacity .5s

      &.hidden
        visibility: hidden
        opacity: 0
        transition: opacity .5s, visibility 0s .5s

      &::after, &::before
        content: ''
        width: 6px
        height: 6px
        border-radius: 50%
        position: absolute
        top: calc(50% - 3px)
        background-color: #2196f3
        animation: blink .8s linear infinite

      &::before
        left: 48%

      &::after
        right: 48%
        animation-delay: .4s

    &text
      color: #878787
      font-size: 16px
      width: 100%
      //text-transform: capitalize

      &:not(:last-child)
        margin-bottom: 5px

      &_large
        font-size: 24px
        color: black

      &_error
        color: red
        margin-left: 5px

    &top
      @include flex(column, flex-start, flex-start, nowrap)
      width: 100%
      margin-bottom: 20px

    &body
      @include flex(row, space-between, flex-start, nowrap)
      width: 100%

    &main
      @include flex(row, flex-start, center, nowrap)
      width: 50%

    &visual
      width: 50px
      height: 50px
      margin-right: 5px

    &icon
      width: 100%
      height: 100%
      object-fit: contain

    &temperature
      font-size: 40px

    &info
      @include flex(column, flex-start, flex-start, nowrap)
      width: 50%

@media screen and (max-width: 1900px)
  @import '_1280.sass'

@media screen and (max-width: 1280px)
  @import '_1024.sass'

@media screen and (max-width: 1024px)
  @import '_768.sass'

@media screen and (max-width: 768px)
  @import '_320.sass'
