.content
  @include flex(column, center, center, nowrap)
  width: 100%
  min-height: calc(100vh - 70px)
  margin-top: 70px
  background-color: #eeeeee

@media screen and (max-width: 1900px)
  @import '_1280.sass'

@media screen and (max-width: 1280px)
  @import '_1024.sass'

@media screen and (max-width: 1024px)
  @import '_768.sass'

@media screen and (max-width: 768px)
  @import '_320.sass'
